.article {
  margin-bottom: 120px;
}

.article__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.article__heading {
  line-height: 20px;
  margin: 15px 0;
}

.article__txt {
  height: 106px;
  overflow: hidden;
  margin-bottom: 20px;
}