.catalog {
  position: relative;
  grid-area: catalog;
}

.catalog__content {
  width: 300px;
  position: absolute;
}

.catalog__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-background);
  border-radius: 10px;
  height: 45px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .4s ease;
}

.catalog__item:hover {
  border: 1px solid var(--orange-color);
}

.catalog__item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  background: url(../images/catalog__arrow.svg) no-repeat center / contain;
  width: 10px;
  height: 14px;
  transform: translateY(-50%);
}

.catalog__btn {
  height: 37px;
  color: #fff;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}

.catalog__item:hover .catalog__box {
  opacity: 1;
  visibility: visible;
}

.catalog__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 15px;
}

.catalog__box {
  position: absolute;
  right: -102%;
  top: 0;
  background-color: var(--grey-background);
  border-radius: 10px;
  padding: 16px 22px;
  box-sizing: border-box;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  z-index: 3;
}

.catalog__box-item {
  margin-bottom: 10px;
}

.catalog__box-item:last-child {
  margin-bottom: 0;
}

.catalog__box-link {
  display: block;
  text-decoration: underline;
  width: 255px;
  transition: all .4s ease;
}

.catalog__box-link:hover {
  opacity: .7;
}

@media screen and (max-width: 1439px) {
  .catalog__content {
    width: 262px;
  }

  .catalog__box {
    right: -119%;
  }
}

@media screen and (max-width: 1023px) {

  .catalog {
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease;
    transform: translateY(-200%);
    height: 1px;
  }

  .catalog_opened {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    height: unset;
  }

  .catalog__btn {
    background: #fff;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: 600;
    position: relative;
    margin-bottom: 0;
    margin-top: 34px;
  }

  .catalog__arrow-black {
    width: 24px;
    height: 24px;
    background: url(../images/arrow-black__down.svg) no-repeat center / contain;
    display: block;
    position: absolute;
    right: 15px;
    transition: all .4s ease;
  }

  .catalog__arrow-black_opened {
    transform: rotate(180deg);
  }

  .catalog__btn .catalog__link {
    font-weight: 600;
    pointer-events: none;
    user-select: none;
  }

  .catalog__content {
    position: static;
    width: 100%;
  }

  .catalog__box {
    display: none;
  }

  .catalog__list {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: -10px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
  }

  .catalog__list_opened {
    visibility: visible;
    opacity: 1;
  }

  .catalog__item {
    background: none;
  }

  .catalog__item:hover {
    border-color: transparent;
  }

  .catalog__item::after {
    display: none;
  }
}