.content {
  width: var(--content-width);
  margin: 0 auto;
}

.content__wrapper {
  width: 730px;
  margin-left: auto;
  padding-top: 22px;
  min-height: 650px;
}

@media screen and (max-width: 1439px) {
  .content__wrapper {
    width: 650px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    margin-top: 85px;
  }

  .content__wrapper {
    width: 100%;
    min-height: unset;
  }
}

@media screen and (max-width: 767px) {
  .content {
    margin-top: 60px;
  }
}