.contacts {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.contacts__content {
  width: 310px;
}

.contacts__title {
  font-size: 20px;
  margin-bottom: 14px;
}

.contacts__info-txt {
  font-weight: 600;
  font-size: 14px;
}

.contacts__info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  gap: 8px;
  margin-bottom: 10px;
}

.contacts__info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 12px;
  padding: 10px 23px 10px 10px;
  box-sizing: border-box;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
}

.contacts__info-box_address {
  align-items: flex-start;
}

.contacts__info-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__info-icon_phone {
  background-image: url(../images/contacts__phone-icon.svg);
}

.contacts__info-icon_mail {
  background-image: url(../images/contacts__mail-icon.svg);
}

.contacts__info-icon_map {
  background-image: url(../images/contacts__map-icon.svg);
}

.contacts__link {
  box-shadow: none;
  flex-grow: 1;
}

.contacts__address-row {
  margin-top: 15px;
  height: 104px;
}

.contacts__address-box {
  width: 230px;
}

.contacts__address-title {
  margin-bottom: 12px;
}

.contacts__map-container {
  flex-grow: 1;
}

.contacts__map {
  border: none;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1439px) {
  .contacts {
    gap: 15px;
  }
}

@media screen and (max-width: 1023px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }

  .contacts__map-container {
    width: 100%;
    height: 390px;
  }
}