.header {
  padding: 24px 0;
  height: 156px;
  width: 100%;
  box-sizing: border-box;
  background: url(../images/header__background.jpg) no-repeat center / cover;
}

.header__content {
  width: var(--content-width);
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'logo info estimate'
    'catalog menu-nav menu-nav'
  ;
  grid-template-columns: 300px;
  row-gap: 30px;
}

.header__link {
  transition: all .4s ease;
}

.header__link:hover {
  opacity: .7;
}

.header__logo-container {
  transition: all .4s ease;
  grid-area: logo;
}

.header__logo-container:hover {
  opacity: .7;
}

.header__logo {
  width: 163px;
  height: 54px;
  display: block;
  object-fit: cover;
}

.header__info-container {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
  margin-left: auto;
  gap: 80px;
}

.header__info {
  max-width: 153px;
}

.header__txt {
  color: #fff;
  text-transform: uppercase;
}

.header__txt_orange {
  color: var(--orange-color);
  font-weight: 700;
  text-transform: none;
}

.header__estimation {
  grid-area: estimate;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/header__estimation-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: all .4s ease;
  justify-self: flex-end;
}

.header__estimation:hover {
  transform: scale(1.2);
}

.header__estimation-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background-color: var(--orange-color);
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  right: -8px;
  bottom: -2px;
}

.header__menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  background: url(../images/menu__btn.svg) no-repeat center / contain;
  grid-area: menu-btn;
}

@media screen and (max-width: 1439px) {
  .header__content {
    row-gap: 24px;
  }

  .header__info-container {
    margin-right: 47px;
    gap: 63px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    height: 85px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height .4s ease;
    position: fixed;
    z-index: 5;
    top: 0;
    padding: 14px 0;
  }

  .header_opened {
    background: var(--dark-background);
    height: 100vh;
    overflow: scroll;
  }

  .header__content {
    grid-template-areas:
      'estimate logo menu-btn'
      'catalog catalog catalog'
      'menu-nav menu-nav menu-nav'
      'info info info'
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    gap: 0;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__estimation {
    justify-self: flex-start;
  }

  .header__menu-btn {
    display: block;
    justify-self: flex-end;
  }

  .header__info-container {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(-200%);
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    gap: 18px;
    height: 1px;
  }

  .header__info-container_opened {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    margin-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
    padding: 11px 0;
  }

  .header_opened {
    height: 100vh;
  }

  .header__logo {
    width: 109px;
    height: 37px;
  }

  .header__estimation {
    width: 28px;
    height: 28px;
    background-size: 15px 15px;
  }

  .header__estimation-number {
    min-width: 13px;
    min-height: 13px;
    font-size: 12px;
    right: -4px;
  }

  .header__menu-btn {
    width: 24px;
    height: 24px;
  }
}