.hero {
  width: 731px;
  margin-left: auto;
  margin-top: 34px;
  margin-bottom: 56px;
}

.hero__top {
  display: flex;
  margin-bottom: 48px;
}

.hero__arrow {
  display: block;
  width: 40px;
  height: 33px;
  background: url(../images/arrow__left.svg) no-repeat center / contain;
  margin-right: 17px;
}

.hero__descr {
  max-width: 484px;
}

.hero__bottom {
  display: block;
  width: 100%;
  height: 410px;
  border-radius: 10px;
  position: relative;
}

.hero__swiper {
  width: 100%;
  height: 100%;
}

.hero__slide {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__slide::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, .64);
  z-index: 1;
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.hero__slide-content {
  position: relative;
  z-index: 2;
  color: #fff;
  width: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 170px;
}

.hero__slide-title {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.hero__slide-txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.hero__link {
  box-sizing: border-box;
  width: 100%;
  height: 39px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease;
}

.hero__link:hover {
  color: #fff;
  background-color: transparent;
}

.hero__link-arrow {
  width: 46px;
  height: 5px;
  display: block;
  background: url(../images/hero-arrow_black.svg) no-repeat center / cover;
  margin-left: 20px;
}

.hero__link:hover .hero__link-arrow {
  background-image: url(../images/hero-arrow_white.svg);
  transition: all .4s ease;
}

.hero__btn {
  display: block;
  width: 30px;
  height: 33px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--orange-color);
  opacity: .7;
  z-index: 2;
  cursor: pointer;
  transition: all .4s ease;
}

.hero__btn:hover {
  opacity: 1;
}

.hero__btn_back {
  border-radius: 0px 10px 10px 0px;
  background-image: url(../images/arrow__back_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px 12px;
}

.hero__btn_next {
  background-image: url(../images/arrow__next_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px 12px;
  right: 0;
  border-radius: 10px 0px 0px 10px;
}

@media screen and (max-width: 1439px) {
  .hero {
    width: 659px;
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    width: 100%;
    margin-left: 0;
  }

  .hero__arrow {
    background-image: url(../images/hero-arrow__up.svg);
    height: 100%;
    width: 8px;
    margin-right: 11px;
  }

  .hero__top {
    flex-direction: row-reverse;
    padding-top: 15px;
    height: 64px;
    margin-bottom: 15px;
  }

  .hero__descr {
    text-align: end;
    margin-right: 12px;
    width: 100%;
  }

  .hero__title {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .hero__bottom {
    height: 302px;
  }
}

@media screen and (max-width: 767px) {
  .hero__top {
    height: 106px;
  }

  .hero__arrow {
    width: 16px;
    margin-right: 7px;
  }

  .hero__slide-content {
    height: 82%;
    width: 78%;
  }
}