.news__item {
  height: 208px;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.news__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__date {
  margin-bottom: 10px;
}

.news__txt {
  font-weight: 700;
  overflow: hidden;
  max-height: 46%;
}

.news__link {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 234px;
  height: 49px;
}

.news__link::after {
  content: '';
  display: block;
  width: 38px;
  height: 6px;
  background: url(../images/long-white-arrow_right.svg) no-repeat center / contain;
}

.news__link:hover.news__link::after {
  background-image: url(../images/long-orange-arrow_right.svg);
}

.news__img {
  width: 165px;
  height: 165px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .news__item {
    justify-content: start;
    flex-direction: column-reverse;
    width: 100%;
    height: 375px;
  }

  .news__content {
    flex-grow: 1;
  }

  .news__img {
    width: 100%;
  }

  .news__txt {
    max-height: unset;
    height: 45%;
  }

  .news__link {
    width: 100%;
    margin-top: auto;
  }

}