.txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.txt_mb {
  margin-bottom: 15px;
}

.txt_marked {
  padding-left: 8px;
  border-left: 1px solid var(--orange-color);
}